.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #220e24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #639cd9;
}

.App-link {
  color: #639cd9;
}

.bubble {
  border: 1px solid;
  animation-name: bubble-move;
  animation-iteration-count: infinite;
}

@keyframes bubble-move {
  from {
    transform: scaleX(2);
    transform: scaleY(2);
  }
  to {
    transform: scaleX(10);
    transform: scaleY(10);
  }
}
